<nav class="site-nav">
    <div class="site-logo">
        <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/src/logotipo-ikubert-lateral.svg" alt="IKUBERT">
        </a>
    </div>

    <input type="checkbox" id="nav-check" class="nav-checkbox" style="display:none;">
    <label for="nav-check" class="nav-toggler">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <div class="nav-links">
        <a href="{{ site.baseurl }}/">Home</a>
        <a href="{{ site.baseurl }}/acerca">Acerca</a>
        <a href="{{ site.baseurl }}/servicios">Servicios</a>
        <a href="{{ site.baseurl }}/contacto">Contacto</a>
    </div>
</nav>
